
<div class="col-lg-6">
  {{input type="text" value=model.name class="form-control" placeholder="Name"}}
  <br>
  {{input type="text" value=model.email class="form-control" placeholder="Email"}}
  <br>

  <div>
    <button {{action "createCustomer"}}
      class="btn btn-primary"
      type="submit"
    >
      Confirm
    </button>
  </div>

  <br>
</div>
