<div class="row">
  <div class="col-lg-5">
    {{input type="text" value=model.name class="form-control" placeholder="Name"}}
  </div>
  <div class="col-lg-5">
    {{input type="text" value=model.email class="form-control" placeholder="Email"}}
  </div>
  <div class="col-lg-2">
    <button {{action "createCustomer"}}
      class="btn btn-primary"
      type="submit"
    >
      Confirm
    </button>
  </div>
</div>

<br>
