
<div class="container table-responsive">
  <div clsss="">
    <h1>{{#link-to 'customers.index'}}Customers{{/link-to}}</h1>
  </div>

  <br>

  <table class="table">
    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>Action</th>
    </thead>
    <tbody>
      {{#each model as |customer|}}
        {{#if customer.id}}
          <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>
              {{#link-to 'customers.customer.premises' customer class="btn btn-info"}}
                View premises
              {{/link-to}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>

  <div>
    {{#link-to 'customers.index.create' class=""}}
      Create New
    {{/link-to}}
  </div>
  <br>

  {{outlet}}
</div>
