
<div class="container table-responsive col-lg-offset-2 col-lg-8">
  <div clsss="row">
    <br>
    <h1>Customers</h1>
    <br>

    <div>
      {{#link-to 'customers.index.create'}}
        Create New
      {{/link-to}}
    </div>

    <br>

    {{outlet}}

    <table class="table">
      <thead>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>action</th>
      </thead>
      <tbody>
        {{#each model as |customer|}}
          {{#unless customer.isNew}}
            <tr>
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td>
                {{#link-to 'customers.customer.premises' customer class="btn"}}
                  View premises
                {{/link-to}}
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
