{{outlet}}

<div class="container table-responsive">
  <div clsss=""> 
    <h1> Customers</h1>
    <div>
      {{#link-to 'new-customer' class="btn btn-primary"}}
        Create New Customer
      {{/link-to}}
    </div>
  </div>
  <table class="table">
    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>Action</th>
    </thead>
    <tbody>
      {{#each model as |customer|}}
        <tr>
          <td>{{customer.id}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.email}}</td>
          <td>
             {{#link-to 'customer.premises' customer class="btn btn-info"}}
                View premises
              {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>